<div style="text-align: center">
    <div class="loginContainer">
        <div class="mainBackground mainText paddingContent ">
            <h2>Add Comment</h2>
        </div>
        <form class="form addComment-form">
            <div class="textLeft">
                <label></label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Comment!!!" id="comment_content">
                </div>
                <button type="submit" class="btn signinBtn">+</button>
        </form>
    </div>
</div>
</div>


<script src="./js/comment.js"></script>