<div class="secondaryText">
    <h1>Create a New Blog</h1>
    <form class="form createBlog-form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
            </div>
            <input type="text" class="form-control" placeholder="title" id="createTitle">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Content</span>
            </div>
            <input type="text" class="form-control" placeholder="Description" id="createContent">
        </div>
        <div class="center paddingContent">
            <button type="submit" class="btn mainBackground mainText">Create A Blog</button>
        </div>
    </form>
</div>
<script src="./js/createBlog.js"></script>