<div style="text-align: center">
    <div class="loginContainer">
        <div class="mainBackground mainText paddingContent ">
            <h2>Login</h2>
        </div>
        <form class="form login-form">
            <div class="textLeft">
                <label>Email</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Example@mail.com" aria-label="Username"
                        aria-describedby="basic-addon1" id="email-login">
                </div>
                <label>Password</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                        aria-describedby="basic-addon1" id="password-login">
                </div>
                <button type="submit" class="btn signinBtn">Sign in</button>
        </form>
        <div class="signupBtn">
            <a href="/signup">Sign Up here!</a>
        </div>
    </div>
</div>
</div>

<script src="./js/login.js"></script>