<div style="text-align: center">
    <div class="loginContainer">
        <div class="mainBackground mainText paddingContent ">
            <h2>Sign Up</h2>
        </div>
        <form class="form signup-form">
            <div class="textLeft" style="padding-top: 20px;">
                <p>Name</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Name" id="signup_name">
                </div>
                <p>Email</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Example@mail.com" id="signup_email">
                </div>
                <p>Password</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Password" id="signup_password">
                </div>
                <button type="submit" class="btn signinBtn">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script>